.Field {
  &-field {
    --opacity: 0.3;
    transition: background-color var(--transition-link),
      color var(--transition-link), transform 0.15s;
    font-weight: 700;
    background: rgba(var(--color, var(--bg-secondary-rgb)) / var(--opacity));
    color: rgb(var(--color, var(--bg-secondary-rgb)));
    padding: 1em 2em 1.1em;
    border-radius: 5px;
    display: inline-flex;
    align-items: left;
    justify-content: left;
    white-space: nowrap;
    text-align: left;
    gap: 0.75em;
    user-select: none;

    iconify-icon {
      top: 0.1em;
      margin-right: -0.5em;
      opacity: 0.5;
    }
  }
}
